{% extends 'base.html.twig' %}

{% block body %}
    <h2>Report Menu:</h2>
    <table border="1" >
        <tr>
            <td> <a href="{{ path('showUsers')}}">All Users</a> </td>
            <td> <a href="{{ path('showAdmins')}}">Administrators</a> </td>
            <td> <a href="{{ path('showRegisteredUsers')}}">Registered Users</a> </td>
            <td> <a href="{{ path('showInventory')}}">All Inventory</a> </td>
            <td> <a href="{{ path('showAvailibleInventory')}}">Availible Inventory</a> </td>
            <td> <a href="{{ path('showRentedInventory')}}">Currently Rented Inventory</a> </td>
            <td> <a href="{{ path('showDonationInventory')}}">Pending Donations</a> </td>
            <td> <a href="{{ path('showSpecialRequests')}}">Special Requests</a> </td>
            <td> <a href="{{ path('showRentalHistory')}}">All Rental History</a> </td>
            <td> <a href="{{ path('showPendingArrivals')}}">Donations Pending Arrival</a> </td>
        </tr>
    </table>
    <br>
    <br>
    
    <h3>Availible Inventory</h3>
    <table border="1" >
        <tr>
            <td> <a href="{{ path('createPendingArrivalPDF')}}">Print/Download (Convert to PDF)</a> </td>
        </tr>
    </table>
    <table border="1" >
        <thead>
            <tr>
                <th>Item Id</th>
                <th>Item Description</th>
                <th>Item Type</th>
                <th>Item Color</th>
                <th>Item Donor</th>
                <th>Item School</th>
                <th>Item Discipline</th>
                <th>Item Length</th>
                <th>Item Width</th>
            </tr>
        </thead>
        <tbody>
        {% for inventory in items %}
            <tr>
                <td align="center">{{ inventory.id }}</a></td>
                <td align="center">{{ inventory.itemDescription }}</td>
                <td align="center">{{ inventory.itemType.name }}</td>
                <td align="center">{{ inventory.itemColor.name }}</td>
                <td align="center">{{ inventory.user.username }}</td>
                <td align="center">{{ inventory.itemSchool.name }}</td>
                <td align="center">{{ inventory.itemMajor.name }}</td>
                <td align="center">{{ inventory.itemLength }}</td>
                <td align="center">{{ inventory.itemWidth }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
