{% extends 'base.html.twig' %}

{% block body %}
    <h2>Report Menu:</h2>
    <table border="1" >
        <tr>
            <td> <a href="{{ path('showUsers')}}">All Users</a> </td>
            <td> <a href="{{ path('showAdmins')}}">Administrators</a> </td>
            <td> <a href="{{ path('showRegisteredUsers')}}">Registered Users</a> </td>
            <td> <a href="{{ path('showInventory')}}">All Inventory</a> </td>
            <td> <a href="{{ path('showAvailibleInventory')}}">Availible Inventory</a> </td>
            <td> <a href="{{ path('showRentedInventory')}}">Currently Rented Inventory</a> </td>
            <td> <a href="{{ path('showDonationInventory')}}">Pending Donations</a> </td>
            <td> <a href="{{ path('showSpecialRequests')}}">Special Requests</a> </td>
            <td> <a href="{{ path('showRentalHistory')}}">All Rental History</a> </td>
            <td> <a href="{{ path('showPendingArrivals')}}">Donations Pending Arrival</a> </td>
        </tr>
    </table>
    <br>
    <br>
            
    <h3>Rental History for {{ user|first.user.username }}</h3>
    <table border="1" >
        <tr>
            <td> <a href="{{ path('createUserDonationHistoryPDF', {'userID': user|first.user.id} )}}">Print/Download (Convert to PDF)</a> </td>
        </tr>
    </table>
    <table border="1" >
        <thead>            
            <tr>
                <th>Item ID</th>
                <th>Description</th>
                <th>Item Type</th>
                <th>Status</th>
                <th>Color</th>
                <th>Donor</th>
                <th>School</th>
                <th>Discipline</th>
                <th>Length</th>
                <th>Width</th>
            </tr>
        </thead>
        <tbody>
        {% for donation in user %}
            <tr>
                <td align="center">{{ donation.id }}</td>
                <td align="center">{{ donation.itemDescription }}</td>
                <td align="center">{{ donation.itemType.name }}</td>
                <td align="center">{{ donation.itemStatus.name }}</td>
                <td align="center">{{ donation.itemColor.name }}</td>
                <td align="center">{{ donation.user.username }}</td>
                <td align="center">{{ donation.itemSchool.name }}</td>
                <td align="center">{{ donation.itemMajor.name }}</td>
                <td align="center">{{ donation.itemLength }}</td>
                <td align="center">{{ donation.itemWidth }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  
{% endblock %}
